{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block content %}
    
  <div className="card-body" style="margin: 3% 5%;">
    <h2 className="card-title">We are Hindustan Aeronautical Institute</h2><br><br>
    <p className="card-text">Hindustan Aeronautical Institute is an offshoot of Hindustan Aeronautical Institute Technologies which has been in siness for over 20 years in Nigeria and Ghana.  
                        The company is created to cater for the books need of Africans living in USA as well as those living back home.  
                        Putting our wealth of business experience in use and with our network of companies in Nigeria and Ghana, Hindustan Aeronautical Institute is setup in 2018 
                        to try to bridge the gap between the two continents in respect of movement of goods between both continents.</p>
    <p className="card-text">Often times when we hear books, movement of goods generally come to Mind, not far from the truth.  However, books
                         does not only entail movement of goods but also the procurement of such goods.  Therefore, Hindustan Aeronautical Institute receives specific requests and 
                         orders for products from people back in Africa who are not able to make purchases internationally or for one reason or the other are limited in their
                        reach to outside world, then source for the specific item, buy the product and have it shipped to the buyer as quickly as possible.</p>
    <p className="card-text">Amongst our services too, Speed would also be serving our African families and surprisingly, the increasing number of foreigners who may
                         be interested in African cuisine and delicacies, our renowned “Soup Packs” which are designed to bring our Original “African Soup” flavors here to
                        Africans and other nationals.  Our Vacuum Sealed components of the Soup Packs are packaged to retain their original favors for over a long period
                        of time without the use of any preservatives or chemicals.  Of course Africans take pride in eating purely Organic Food, and we make sure that we 
                        stick to that principle.</p>
  </div>
</div><br/>
<hr/>
        <div style="text-align:center">
        <h2>Our Core Values</h2>
        <h5>Audacity, Bias for Action, and Customer First (ABC) with Integrity</h5>
        </div>
<div className="row row-cols-1 row-cols-md-4 g-4" style="margin:20px;text-align:center">
  <div className="col">
    <div className="card h-100">
      <img src='#' className="card-img-top" alt="..."/>
      <div className="card-body">
        <h4 className="card-title">AUDACITY</h4>
        <p className="card-text">We believe in pushing boundaries and changing the paradigm of the supply chain arm by thinking big and taking bold steps.</p>
      </div>
    </div>
  </div>
  <div className="col">
    <div className="card h-100">
      <img src="#" className="card-img-top" alt="..."/>
      <div className="card-body">
        <h4 className="card-title">BIAS FOR ACTION</h4>
        <p className="card-text">We believe in creating an impact by bringing about innovative ideas to the forefront. We think through and make speedy decisions, based on data, for every challenge put forth to improve our customer experience.</p>
      </div>
    </div>
  </div>
  <div className="col">
    <div className="card h-100">
      <img src="#" className="card-img-top" alt="..."/>
      <div className="card-body">
      <h4 className="card-title">CUSTOMER FIRST</h4>
      <p className="card-text">We look at everything from your point of view. We strive to make you and your needs the core of everything we do.</p>
    </div>
    </div>
  </div>
  <div className="col">
    <div className="card h-100">
      <img src="#" className="card-img-top" alt="..."/>
      <div className="card-body">
      <h5 className="card-title">INTEGRITY</h5>
      <p className="card-text">We believe in doing what is right. We will do what we promise you with the highest standard of professionalism. We ensure transparency and honesty in all our interactions with you and your customers.</p>
    </div>
    </div>
  </div>
</div>
<hr/>
{% endblock %}